.projects {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.projects .text {
    text-align: center;
    margin-bottom: 154px;
}

.projects h2 {
    color: #1E1E1E;
    font-family: "SF Pro Display";
    font-size: 4vw;
    /* font-size: 4vw; */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.projects span {
    color: #1E1E1E;
    font-family: "SF Pro Display";
    font-size: 4vw;
    font-style: italic;
    /* font-weight: 200; */
    line-height: normal;
}

.cards {
    margin-top: -20vw;
    transform: scale(0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}