.bio {
    display: flex;
    width: 1218.523px;
    align-items: flex-start;
    gap: 55px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 203px;
}

.bio .foto {
    width: 313.523px;
    height: 384px;
    flex-shrink: 0;
}


.bio h2 {
    margin: 0;
    color: #1E1E1E;
    font-family: "SF Pro Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 139.336%;
    text-align: left;
    text-align: left;
    padding-right: 25%;
    flex: 1 0 0;
    align-self: stretch;
}

.bio p {
    color: #1E1E1E;
    font-family: "SF UI Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    flex: 1 0 0;
    align-self: stretch;
    width: 850px;
    height: 242px;
    flex: 1 0 0;
    align-self: stretch;

}