.hero {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding-top: 237px;

}

.hero h2 {
    color: #000;
    font-family: regularSfProDisplay;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    text-align: start;
    padding-left: 22%;
    padding-right: 16%;
}

.hero h3 {
    text-align: start;
    padding-left: 22%;
    padding-right: 16%;
    color: #9F9F9F;
    font-family: superThinSfProDisplay;
    font-size: 35px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.hero h3 span {
    display: block;
    padding-right: 31%;
}

.hero .arrow {
    padding-top: 180px;
    text-align: center;
}