.personalSkills {
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.skillsTitle {
    margin-top: 84px;
    margin-bottom: 126.73px;
    color: #000;
    font-family: "SF Pro Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.336%;
}

.softBackground {
    display: flex;
    width: 1512px;
    height: 534px;
    padding: 50px 145px;
    flex-direction: column;
    align-items: flex-start;
    gap: 62px;
    flex-shrink: 0;
    background-color: white;
}

.softTitle h2 {
    text-align: left;
    margin-bottom: 20px;
    height: 50px;
    text-transform: uppercase;
    color: #1E1E1E;
    font-family: "HvDTrial Brandon Grotesque";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.336%;
}

.softSkills {
    margin-top: 0s;
    margin-bottom: 65px;
    display: inline-flex;
    align-items: flex-start;
    gap: 66px;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    width: 1256px;
}

.columnSoft p {
    margin-bottom: 0;
    color: #000;
    font-family: "SF Pro Display";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.336%;
}

.column img {
    width: 595px;
    height: 1px;
    background: #B3B3B3;
}

.hardBackground {
    display: flex;
    width: 1512px;
    height: 534px;
    padding: 50px 145px;
    flex-direction: column;
    align-items: flex-start;
    gap: 62px;
    flex-shrink: 0;
    background-color: black;
}

.hardTitle h2 {
    text-align: left;
    margin-bottom: 20px;
    height: 50px;
    text-transform: uppercase;
    color: #FFF;
    font-family: "HvDTrial Brandon Grotesque";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.336%;
}


.hardSkills {
    color: #FFF;
    margin-top: 0s;
    margin-bottom: 65px;
    display: inline-flex;
    align-items: flex-start;
    gap: 66px;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    width: 1256px;
}

.columnHard p {
    margin-bottom: 0;
    color: #FFF;
    font-family: "SF Pro Display";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.336%;
}

.columnHard img {
    width: 595px;
    height: 1px;
    background: #B3B3B3;
}

.toolsTitle h2 {
    margin-top: 69px;
    text-align: left;
    margin-left: 6.5%;
    margin-bottom: 20px;
    height: 50px;
    text-transform: uppercase;
    color: #1E1E1E;
    font-family: "HvDTrial Brandon Grotesque";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.336%;
}

.columnTools p {
    margin-bottom: 23px;
    color: #000;
    font-family: "SF Pro Display";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.336%;
}

.tools {
    margin-top: 0s;
    margin-bottom: 65px;
    display: inline-flex;
    align-items: flex-start;
    gap: 66px;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    width: 1256px;
}