@font-face {
    font-family: 'lightBrandomGrotesque';
    src: url('./../fonts/lightBrandomGrotesque.otf') format('opentype');
    font-display: block;
}

@font-face {
    font-family: 'thinBrandomGrotesque';
    src: url('./../fonts/thinBrandomGrotesque.otf') format('opentype');
    font-display: block;
}