 .navi {
     /* position: fixed; */
     display: flex;
     height: 163px;
     margin-left: 6%;
     margin-right: 6%;
     background: white;
     z-index: 10;
     justify-content: space-between;
 }


 body {
     margin: 0;
     padding: 0;
 }

 .navi .logo {
     width: 40%;
     color: #1E1E1E;
     font-family: "Playfair Display";
     font-size: 25px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     padding-top: 80px;
     padding-bottom: 50px;
 }

 .navi .menu {
     display: flex;
     justify-content: space-between;
     width: 55%;
     color: #1E1E1E;
     text-align: end;
     font-family: "HvDTrial Brandon Grotesque";
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-transform: uppercase;
     padding-top: 80px;
     padding-bottom: 50px;
 }

 .navi .menu p,
 .navi .logo p {
     margin: 0
 }